#!/usr/bin/env python
# -*- coding: utf-8 -*-

# This file is part of Advent of Code 2020
# https://github.com/scorphus/advent-of-code-2020

# Licensed under the BSD-3-Clause license:
# https://opensource.org/licenses/BSD-3-Clause
# Copyright (c) 2020, Pablo S. Blum de Aguiar <scorphus@gmail.com>

from aoc import integers
from aoc import integers_list

import collections
import itertools


def part1(lines):
    # lines = list(lines)
    # lines = integers(lines)
    # lines = integers_list(lines)
    for line in lines:
        line = line.rstrip("\n")
        pass
    return


def part2(lines):
    return
